<div class="card" style="margin-top: 10px;">
    <div class="card-body">
        <h5 class="card-title">Name of food</h5>
        <p class="card-text">Descrpiont</p>
        <div class="row justify-content-md-center">
            <label for="inputZip" class="form-label">Qty :</label>
            <input type="number" class="form-control" id="inputZip" placeholder="1"style="width: 80px;">
            <label for="inputZip" class="form-label">Comment :</label>
            <input type="text" placeholder="Any Comment of food" class="form-control" id="inputZip"style="width: 280px;" >
        </div>
        <hr/>
        <a href="#" class="btn btn-primary">Add</a>
    </div>
</div>
