<div class="card">
    <div routerLink="/group/details/{{food.id}}" class="card-body">
        <h5 class="card-title">{{food.name}}</h5>
        <p class="card-text">Price : {{food.price}} $</p>
        <div *ngIf="!addButton" class="row justify-content-md-center">
            <label for="inputZip" class="form-label">Quantity :</label>
            <input type="number" class="form-control" id="inputZip" placeholder="1"style="width: 80px;"[(ngModel)]="qty">
            <label for="inputZip" class="form-label" >Comment :</label>
            <input type="text" [(ngModel)]="comment" placeholder="Any Comment of food" class="form-control" id="inputZip"style="width: 280px;" >
            <p class="fw-bold" style="color: #198754;font-size: 20px;">Total Price : {{qty*food.price}}$</p>
        </div>
        <hr/>
        <button class="btn btn-primary" *ngIf="!addButton" (click)="add();addButton=true">Add</button>
    </div>
</div>
