select {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px;
  }
  
  option {
    color: #444;
    font-weight: normal;
  }

  @media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
  }


  button {
    background-color: #00bcd4;
    border: 0;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    text-transform: uppercase;
    margin-top: 2px;
  }
  
  button:hover {
    background-color: #008ba3;
  }