<form (ngSubmit)="addFood()">
  <label for="food">Choose Restaurant</label><br>
  <select [(ngModel)]="restaurant"id="food" name="food">
    <option *ngFor="let retaurant of data" value="{{retaurant.id}}">{{retaurant.name}}</option>
  </select>
  <label for="name">Food Name:</label><br>
  <input type="text" id="name" name="name"[(ngModel)]="food.name"><br>
  <label for="phone">price:</label><br>
  <input type="number" id="phone" name="phone" [(ngModel)]="food.price"><br>
  <label for="phone">Photo:</label><br>
  <input type="text" id="phone" name="phone"[(ngModel)]="food.photo"><br>

  <br>
  <input type="submit" value="Submit">
</form>
