<div *ngFor="let orderSumm of OrderSummary " class="cartBox">
    <h1>{{orderSumm.username}}</h1>
    <div class="headCart">
    </div>
    <table class="table table-striped">
        <thead >
            <tr >
                <th>order details :</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orders of orderSumm.orders">
                <p *ngFor="let item of orders.items"><label class="text-danger">item :</label> {{item.food.name}}  <label class="text-danger">  quantity :</label>{{item.quantity}}  <label class="text-danger">  price :</label> {{item.subOrderPrice}}</p>
            </tr>
        </tbody>
        <tfoot>
            <tr *ngFor="let orders of orderSumm.orders">

                <th> Order Price : {{orders.orderPrice}}</th>
            </tr>
        </tfoot>
    </table>
    <th><button class="btn btn-danger">Cancel</button></th>
</div>
